 #dahezi{
	background:#eee;
	 padding:20px;
	 margin:30px 20px 20px 20px;
	 border:thin #999 solid;
	 overflow:auto;
 }
  
 #left{  
	 width:200px;
	  float:left; 
	  border:thin #999 solid;
	  background:white;
	  padding:15px;
	  margin-right:20px;
	  text-align:center;
	  
 }
 #left img{
	border:thin #999 solid;
	float:left;
	 }
#middle{
	border:thin #999 solid;
	background:white;	
	vertical-align:top;
	padding:20px;
	margin-left:260px;
	margin-right:180px;
	}
#middle h1,h2{
	font-weight:bold;	
	}
#right{
	
	width:120px;
	 float:right;
	border:thin #999 solid;
	background:white;}
.picture{
	border:thin #999 solid;
	display:block;
	margin:20px;
	}