body{
    margin:0px;
    background-color: #ccc;
}
h1{
    margin-left: 60px;
    background-color: transparent;
    font-weight: :bold;
}
ul{
    margin:40px;
}
li{
    padding:1px;
    float:left;
    list-style: none;
    margin-left: 40px;
    margin-bottom: 20px
}
a{
    color:#c60;
    background-color: transparent;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}
img{
    
    display:block;
    clear:both;
    margin-left: 100px
}